@charset "UTF-8";

#table {
    width: 430px;
    height: 480px;
    border: 1px solid skyblue;
    border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
   }
   
input[type=text]{
   padding: 4px 8px;
   margin: 3px 0;
   display: inline-block;
   border: 1px solid skyblue;
   border-radius: 4px;
   }
   
#text {
	padding-left: 15px;
}