@charset "UTF-8";

table.type05 {
  border-collapse: separate;
  border-spacing: 1px;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid skyblue;
  margin: 20px 10px;
}

table.type05 th {
  width: 100px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 1px solid skyblue;
  background: #efefef;
}

table.type05 td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid skyblue;
}
   
input[type=text]{
   padding: 4px 8px;
   margin: 3px 0;
   display: inline-block;
   border: 1px solid skyblue;
   border-radius: 4px;
   }
   
#text {
	padding-left: 15px;
	font-family:굴림;
	font-weight:700;
	color:#667bad;
}

