@charset "UTF-8";

#form_properties{
	margin-top:50px;
	color:skyblue;
}

#table {
    width: 350px;
    height: 300px;
    border: 1px solid skyblue;
    border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
   }
   
input[type=text]{
   padding: 12px 20px;
   margin: 3px 0;
   display: inline-block;
   border: 1px solid skyblue;
   border-radius: 4px;
   }

#btn_1{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	margin-bottom:3px;
	margin-top:15px;
}

#btn_2{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	margin-bottom:3px;
	margin-top:3px;
}

#btn_3{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	margin-bottom:3px;
	margin-top:12px;
}

#btn_4{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	margin-bottom:3px;
	margin-top:3px;
}

#btn_group button{
	border:1px solid skyblue;
	background-color:rgba(0,0,0,0);
	color: skyblue;
	padding:3px;
}

#btn_group button:hover{
	color:white;
	background-color:skyblue;
}